<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title || "My App" %></title>
  </head>
  <body>
    <a href ="/">Home</a>
    <a href ="/greeting">Greeting</a>
    <a href ="/pick_random">Pick Random</a>
    <%= yield %>
  </body>
</html>
