/* common */

.btn-submit {
  background-color:CornflowerBlue ;
  color:white;
  border-radius: 5px;
  float: left;
  /* position absolute have problem with parent height
  because it is taken out of the flow */
  /*position: absolute;*/

  margin-bottom: 5%;

}

.my-form-group {
    margin-bottom: 15px;
}

/* create_task.erb */
.note
{
  vertical-align: top;
  width: 40%;
}

.title
{
  width: 40%;
}

/* list-task.erb */
.tasks-container{
  width: 50%;
}

.list-container{
  display: table;
  width: 100%;
}

.list-container__group{
  display: table-row;
  width: 100%;
}

.list-container__group__item {
  display: table-cell;
  width: 85%;
  /*The list-style-position property specifies if the list-item markers
  should appear inside the content flow.*/
  /*list-style-position: inside;*/

  /* ellipsis overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border: 1px solid black;
}


.list-container__group__addon {
  width: 15%;
  display: table-cell;
}

.btn-create-task {
  margin-top: 2%;
}

.task-item-note{
  /* flexbox cannot be absolutely positioned)
  display: flex;  /* flexbox */
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 50%;
  border: 1px solid black;
  /* hidden by default */
  visibility: hidden;
  position: fixed;
  top: 50px;
}
