<h2>Create Task</h2>

<form action="/create_task" method="POST">
  <div class="my-form-group">
    <label for="title-id">Title</label>
    <input class="title" name="title" type="text" id="title-id" value="<%= @title_filler %>"/>
  </div>

  <div class="my-form-group">
    <label for="note-id">Note</label>
    <textarea class="note" name="note" cols="40" rows="10" id="note-id"><%= @note_filler %></textarea>
  </div>

  <input class="btn-submit" type="submit">
</form>
