<h2>Task List</h2>

<% if session[:task_list] %>
  <div class="tasks-container">
  <!-- <ul style="list-style: none;"> -->
    <div class="list-container">

      <% if session[:task_list] %>
      <% puts "===== session[:task_list] in list_task ===== " %>
      <% puts session[:task_list] %>
        <% session[:task_list].each_with_index do |task_hash, index| %>

          <div class="list-container__group">
            <div class="list-container__group__item task-item" id="task-item-<%= "#{index}" %>">
              <%= "#{index+1}. #{task_hash.keys[0]}" %>
            </div>

            <form  class="list-container__group__addon btn-task-delete" action="/delete_task" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <% if session[:task_list] %>
                <input type="hidden" name="delete_task_index" value="<%=index%>">
              <% end %>
              <input type="submit" value="X">
            </form>
          </div>

        <% end %>
      <% end %>


  </div>
  </div>
<% end %>

<form action="/create_task">
    <input class="btn-submit btn-create-task" type="submit" value="Create Task">
</form>

<div class="task-item-note">
</div>

<!-- testing long list items and ellipsis-->
<!-- http://jsfiddle.net/skram/Tmz6C/2/ -->
<!-- <ul id="test" style="width:100px;">
    <li>test1</li>
    <li>test1</li>
    <li>toooooooooooooooooo loooooooooooooooooonnnnnnnnnnnnnnggggggg</li>
    <li>test1</li>
    <li>test1</li>
    <li>test1</li>
</ul> -->
