<h1>Welcome to the Personality Test</h1>
<form action="/personality_result" method="POST">

  <div class="question-container">
    <p>1. You work best: </p>
  </div>

  <div class="answer-container">
    <input id="a1-1" type="radio" name="a1" value="with_deadline" checked>With deadlines</input>
    <input id="a1-2" type="radio" name="a1" value="without_deadline">Without deadlines</input>
  </div>


  <div class="question-container">
    <p>2. You consider yourself more: </p>
  </div>

  <div class="answer-container">
    <input id="a2-1" type="radio" name="a2" value="rational" checked>Rational</input>
    <input id="a2-2" type="radio" name="a2" value="compassionate">Compassionate</input>
  </div>


  <div class="question-container">
    <p>1. You are more interested in: </p>
  </div>

  <div class="answer-container">
    <input id="a3-1" type="radio" name="a3" value="idea" checked>Ideas</input>
    <input id="a3-2" type="radio" name="a3" value="fact">Facts</input>
  </div>

  <input type="submit">
</form>
